DASHSCOPE_API_KEY="sk-c80deedf0c634601917ced9a32c79e50"
DASHSCOPE_BASE_URL="https://dashscope.aliyuncs.com/compatible-mode/v1"
DS_API_KEY="sk-b269fc61a4734b60a3e9c92100a39845"
DS_BASE_URL="https://api.deepseek.com"
